.input {
  --width: 312px;
  --height: 39px;
  --borderRadius: 4px;
  --padding: 12px;
  --textColor: #333333;
  --fontStyle: normal;
  --fontWeight: 400;
  --fontSize: 15px;
  --lineHeight: 15px;
  --fontFamily: inherit;

  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: #ffffff;
  font-style: var(--fontStyle);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: var(--borderRadius);
}

.input::placeholder {
  font-family: var(--fontFamily);
  color: var(--textColor);
  font-style: var(--fontStyle);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}

.input_size_auto {
  --width: 100%;
  --height: 100%;
}
