.checkbox {
  --textColor: #292929;
  --textSize: 16px;
  --lineHeight: 1.1875;
  --fontWeight: 400;
  --background: #fff;
  --borderColor: #cacaca;
  --borderColorChecked: rgba(202, 202, 202, 0.5);
  --boxShadowColor: rgba(0, 0, 0, 0.12);
  --disabledColor: #9b9b9b;
  --checkIcon: url("data:image/svg+xml,%3Csvg width='10' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.333 8.192 0 4.858l1.175-1.175 2.158 2.15L8.825.342 10 1.525 3.333 8.192Z' fill='%23292929'/%3E%3C/svg%3E");

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox__input {
}

.checkbox__label {
  position: relative;
  padding-left: 26px;

  font-family: inherit;
  font-style: normal;
  font-weight: var(--fontWeight);
  font-size: var(--textSize);
  line-height: var(--lineHeight);

  color: var(--textColor);
}

.checkbox__label::before {
  content: "";
  position: absolute;
}

.checkbox__label::before {
  width: 18px;
  height: 18px;
  left: 0;

  background: var(--background);
  border: 1px solid var(--borderColor);
  box-shadow: 0px 1px 2px var(--boxShadowColor);
  border-radius: 2px;

  background-image: none;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: var(--checkIcon);
  background-repeat: no-repeat;
  background-position: center 4px;
  border-color: var(--borderColorChecked);
}

.checkbox__input:focus-visible + .checkbox__label::before,
.checkbox__input:hover:not(:disabled) + .checkbox__label::before {
  outline: auto;
}


.checkbox__input:disabled + .checkbox__label::before {
  border-color: var(--disabledColor);
}

.checkbox__input:disabled + .checkbox__label {
  color: var(--disabledColor);
}

.checkbox__input:checked:disabled + .checkbox__label::before {
  background-color: var(--disabledColor);
}
