.list {

}

.list__content {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 14px;
  border: 1px solid #cacaca;
  border-radius: 7px;
}

.list__status {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 14px;
  margin-left: 26px;
}
